@media only screen and (min-width:0px) {
    
.stybt{
    background-color: var(--blue21);
    color: var(--white1);
    border-color:var(--blue21) ;
    border-radius: 10px;
    font-size: var(--XXSmall);
} 
}
